.history/*
OPC-UA.log
**/__pycache__/*
homeautomationconnector/growattdevice/__pycache__/*
homeautomationconnector/sdmdevice/__pycache__/*
**/.pytest_cache/*
.vscode/*
**/.history/**
config.ini
build/**
**.egg-info/**
dist/*.whl
__pycache__/**
dist/**
**-env/**
logs/**



homeautomationconnector/helpers/__pycache__/flyingaverage.cpython-39.pyc
