.history/*
OPC-UA.log
homeautomationconnector/__pycache__/*
homeautomationconnector/growattdevice/__pycache__/*
homeautomationconnector/sdmdevice/__pycache__/*
**/.pytest_cache/*
.vscode/*
homeautomationconnector/.history/**
config.ini
build/**
homeautomationconnector.egg-info/**
dist/*.whl
__pycache__/**
dist/**
homeautomationconnector-env/**
logs/**



homeautomationconnector/gpiodevice/__pycache__/gpiodevice.cpython-39.pyc
homeautomationconnector/daikindevice/__pycache__/daikin.cpython-39.pyc
homeautomationconnector/kebawallboxdevice/__pycache__/keykontactP30.cpython-39.pyc


homeautomationconnector/helpers/__pycache__/timespan.cpython-39.pyc
